.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 18rem;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: 2px 0 10px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  padding:  1rem;
  z-index: 1000;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 1px solid #e5e7eb;
}

.avatar1 {
  width: 4rem;
  height: 4rem;
  background-color: #bfdbfe;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.avatar1:hover{
  cursor: pointer;
}

.avatar1 .icon {
  width: 2.5rem;
  height: 2.5rem;
  color: #3b82f6;
}

.profile-info .name {
  font-weight: 600;
  color: #1f2937;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-info .role {
  color: #6b7280;
  font-size:20px ;
  position: relative;
  top: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  flex: 1;
  margin-top: 1rem;
}

.nav-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0.25rem 0;
}

.nav-links li a {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  text-decoration: none;
  color: #6b7280;
  font-weight: 500;
  transition: background-color 0.2s, color 0.2s;
}

.nav-links li a:hover {
  background-color: #f3f4f6;
  color: #111827;
}

.nav-links li.active a {
  background-color: #3b82f6;
  color: #ffffff;
}

.nav-links .icon {
  margin-right: 0.75rem;
}

.export-option{
  background-color: #3b82f6;
  border: none;
  color: white;
  width: 90%;
  height: 50px;
  border-radius:50px ;
  position: absolute;
  top: 610px;
}

.export-option:hover{
  cursor: pointer;
  background-color: #0455d8;
}

@keyframes blink {
  0%   { background-color: #007bff; }
  25%  { background-color: #ffffff; color: #007bff; }
  50%  { background-color: #007bff; color: white; }
  75%  { background-color: #ffffff; color: #007bff; }
  100% { background-color: #007bff; color: white; }
}

.export-option:active{
  animation: blink 0.4s ease-in-out;
}

